body {
  font-size: 12px;
  color: hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
  background-image:  url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-color: hsl(185, 75%, 39%);
  background-position-x: 122%, 50%;
  background-position-y: 153%, 50%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  line-height: 22px;
}

.card {
  background-color: white;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
}

.card-body {
  width: 100%;
  height: 75%;
  background-image: url("../images/bg-pattern-card.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-footer {
  width: 100%;
  height: 25%;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:baseline;
}

.card-img {
  border-radius: 50%;
  border: 5px solid white; /*TODO change it to white */
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: relative;
  top: 30px;
  z-index: 1;
}

.card-desc {
  justify-self: flex-end;
  text-align: center;
  margin-bottom: 15px;
}

.name,.number{
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.age {
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

.followers, .likes, .photos  {
  flex-direction: column;
  align-self: center;
  text-align: center;
}